# {{ ansible_managed }}
## dspam.conf -- DSPAM configuration file
##

# --- Split Configuration File Support ---

# Include a directory with configuration items.
Include /etc/dspam/dspam.d/

# ---  ---

## EOF
